* {
    margin: 0px;
    padding: 0px;
}


#register-header a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

/* 注册框主体 */
.register {
    width: 500px;/*512*/
    height: 342px;/*284*/
    z-index: 9999;
    display: none;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20%;
    border: 1px solid gray;
    border-radius: 12px;
}

/* 注册框标题 */
.register-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 600;
}

.register-title-item {
    width: 498px;/*512*/
    height: 40px;
    background: white;
    border-bottom: 2px solid #f0f8ff;
}

#register-form span{
    font-size: 10px;
}

.register-title-item div {
    width: 249px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/* .active{
    color: #00A7D1;
} */

.register-title-item div:hover{
    color: #31c27c;
}

.register-title span img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* 注册表单 */
.register-input {
    margin-top: 20px;
    height: 50px;
}

.register-input label {
    float: left;
    height: 35px;
    line-height: 20px;/*35*/
    width: 90px;
    padding-left: 10px;
    text-align: center;
    font-size: 14px;
}

.register-input input.list-input {
    height: 35px;
    line-height: 35px;
    width: 320px;
    text-indent: 5px;
    border: 1px solid rgb(30,30,30);
    border-radius: 6px;
}

/* 注册框登陆按钮 */
.registerSubmit {
    width: 240px;/*260*/
    height: 40px;
    text-align: center;
    border: 1px solid gray;
    background-color:grey;
    margin-left: 125px;/*120*/
    margin-top: 15px;/*10*/
    border-radius: 6px;
    color: white;
}

/* 遮盖层 */
.bg{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    display: none;
}