.house-main {
    display: flex;
    width: 1200px;
    height: 900px;
    /* border: 3px solid red;  */
    background-color:rgb(250, 253, 253);
    margin-top: 5px;
}
.house-main-lelf {
    width: 400px;
    height: 900px;
    border-right: 1px solid #d7dbd9;
    background-color: white;
    margin-right: 2px;
}
.house-main-right {
    width: 800px;
    height: 900px;
    background-color:white;
    border: 1px solid #2aaf6c;
}
/* 右边房源详细设置 */
#house-right-head {
    border-bottom: 1px solid #e6e4e4;
    height: 35px;
    width: 100%;
    color: #31c27c;
    background-color: #cefae4;
}

#house-right-head h2 {
    font-size: 16px;
    padding-left: 3px;
    padding-top: 6px;
}
/* 房屋信息-图片-内容 */
#house-top-content {
    display: flex;
    width: 800px;
    height: 345px;
    /* border-bottom: 2px solid red; */
    /* padding-top: 10px; */
}
.house-top-content-img {
    width: 300px;
    height: 300px;
    border: 2px solid white;
}
.house-top-content-img img {
    width: 300px;
    height: 300px;
}
.house-detail-content {
    width: 490px;
    height: 300px;
    /* border: 1px solid red; */
    margin-left: 12px;
    margin-top: 3px;
}
#house-detail-head {
    width: 482px;
    height: 30px;
    /* background-color: #2aaf6c; */
    border-bottom: 2px solid #dedbdb;
    color: #4e514f;
    padding: 4px 0 0 2px ;
    /* 上右下左 */
}
#house-detail-head h2 {
    font-size: 16px;
}
#house-detail-p {
    width: 483px;
    height: 210px;
    border-bottom:  1px solid #dedbdb;
    margin-top: 3px;
}
#house-detail-p p {
    width: 490px;
    height: 30px;
    margin-left: 4px;
    font-size: 14px;
}
#house-detail-host {
    width: 490px;
    height: 30px;
    margin-top: 10px;
    border: 0;
}
#house-detail-host button {
    width: 100px;
    height: 35px;
    background: #2aaf6c;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
}
#house-bottom-content {
    width: 800px;
    height: 518px;
}
#house-detail-title {
    width: 100px;
    height: 35px;
    background: #2aaf6c;
}
#house-detail-title span {
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    color: white;
}
#house-detail {
    width: 100%;
    border-top: 2px solid #31c27c;
}
/* 房源左边详情 */
#house-adr-head {
    border-bottom: 1px solid #e6e4e4;
    background-color:#31c27c;
    height: 35px;
    width: 100%;
    color: white;
}
#house-adr-head h2 {
    font-size: 18px;
    padding-top: 4px;
    text-align: center;
}
#house-adr-type {
    width: 400px;
    height: 150px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid #d7dbd9;
    border-radius: 3px;
}
#house-adr-type ul {
    list-style: none;
}
#house-adr-type ul li{
    /* padding-left: 10PX; */
    width: 400px;
    height: 40px;
    margin-top: 8px;
}
#house-adr-type ul li a {
    text-decoration: none;
    color: black;
}
#house-adr-type ul li a:hover {
    color: #31c27c;
}
/* 热门房源 */
#hoting-house {
    width: 400px;
    height: 708px;
    border: 1px solid #2aaf6c;
    margin-top: 5px;
    border-radius: 7px;
    /* background-color: #31c27c; */
}
#hoting-house-head {
    width: 400px;
    height: 35px;
    border-radius: 7px 7px 0px 0px;
    background-color: #dfe3e1;
}
#hoting-house-head h2 {
    color: rgb(62, 60, 60);
    font-size: 14px;
    padding-left: 4px;
    padding-top: 7px;
}
/* 总热门房源的大小设置 */
.hoting-house-list {
    width: 400px;
    height: 670px;
    margin-bottom: 3px;
}
/* 每个热门房源的大小设置 */
.hoting-house-list-div {
    width: 398px;
    height: 150px;
    border: 1px solid green;
    margin-bottom: 8px;
    display: flex;
} 
.hoting-house-list-img {
    width: 180px;
    height: 151px;
    /* border: 1px solid green; */
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.hoting-house-list-img img {
    width: 140px;
    height: 130px;
    /* background-color: red; */
    margin-top: 9px;
    border-radius: 10px;
    /* align-items: center; */
    /* padding-left: 10px; */
    /* padding-top: 2px; */
}
.hoting-house-list-content h2 {
    font-size: 14px;
    color: #f14122;
    padding-bottom: 20px;
    /* background-color: red; */
    margin-bottom: 20px;
}
.hoting-house-list-content {
    width: 196px;
    height: 176px;
    /* border: 1px solid green; */
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hoting-house-list-head a{
    text-decoration: none;
    color: #2d2e2e;
    font-family: PingFangSC-Medium,PingFang SC;
    /* background-color: red; */
    /* width: 100px; */
    /* padding-right: 20px; */
    font-weight: 700;
    /* margin-right: 10px; */
}
.hoting-house-list-head a:hover {
    color: #2aaf6c;
}