#container {
    width: 880px;
    height: 320px;
    margin-top: 3px;
    border: 1px solid #e7eaec;
}
.textsubmit {
    background-color: #1ab394;
    border: 0;
    border-radius: 3px;
    width: 90px;
    height: 38px;
    color: #ffffff;
    margin-left: 770px;
    margin-top: 10px;
}
.message-body {
    background-color: #f3f3f4;
    /* background-color: aqua; */
    margin-top: 12px;
    width: 1200px;
    height: 900px;
    padding-top: 5px;
}
#message-nav {
    width: 1000px;
    height: 30px;
    margin-left: 70px;
    margin-top: 5px;
}
#message-nav span {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(193, 196, 199);
}
#message-nav a {
    text-decoration: none;
    font-size: 12px;
}
#message-nav a:hover {
    color: rgb(54, 137, 210);
}
.message {
    width: 900px;
    height: 900px;

}
.messages {
    width: 900px;
    height: 900px;
    /* border: 1px solid rgb(130, 127, 127); */
    border-radius: 5px;
    margin: 0 auto;
    /* padding-top: 5PX; */
    background-color: #ffffff;
}
.message-head {
    width: 880px;
    height: 30px;
    border-bottom: 1px solid rgb(176, 201, 215);
    border-radius: 5px 5px 0 0; 
    /* 顺势针 从左上开始 */
    margin: 0 auto;
    margin-top: 1px;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 16px;
    background-color: #1ab394;
}
.message-head h2{
    font-size: 18px;
    color: #fff;
}
/* 每一个用户留言的内容设置 */
.message-content-each {
    display: flex;
    width: 400px;
    /* height: 200px;    */
    border-bottom: 1px solid #e7eaec;

}
.each-image {
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-top: 3px;
    /* border: 1px solid green; */
}
.each-image img {
    width: 45px;
    height: 45px;
    margin-top: 1px;
    margin-left: 3px;
    border-radius: 50%;
}
.each-content {
    margin-left: 16px;
    margin-top: 3px;
}
.each-content h2 {
    font-size: 14px;
}
.each-content-time {
    color: #a6abae;
    font-size: 10.5px;
    margin-top: 5px;
}
.each-content-text {
    margin-top: 8px;
    font-size: 14px;
    color: #505354;
}
/* .header-wel span a {
    text-decoration: none;
    padding-left: 20px;
    color: black; */
    