#new-head {
    border-bottom: 3px solid #e6e4e4;
    background-color:#f5f5f5;
    height: 35px;
    width: 100%;
    color: #676b69;
}
#new-head h2 {
    font-size: 14px;
    padding-left: 3px;
    padding-top: 10px;
}
#news-content {
    width: 730px;
    height: 700px;
    /*background-color: rgb(246, 254, 254);*/
    margin-left: 10px;
}

#news-content ul {
    list-style: none;
    margin-top: 14px;
}
#news-content ul li{
    padding-left: 10PX;
    padding-top: 3px;
}
#news-content ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(47, 55, 57);
}
#news-content ul li a:hover {
    color: #31c27c;
}

#new {
    width: 1200px;
    height: 900px;
    margin-top: 20px;
}
#new-nav {
    width: 1200px;
    height: 30px;
}
#new-nav span {
    /* display: ; */
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(193, 196, 199);
}
#new-nav a {
    text-decoration: none;
    font-size: 12px;
}
#new-nav a:hover {
    color: rgb(54, 137, 210);
}
#news {
    width: 1090px;
    height: 900px;
    border: 1px solid rgb(130, 127, 127);
    margin: 0 auto;
}
#news-head {
    width: 1070px;
    /* border: 1px solid black; */
    border-bottom: 2px solid rgb(176, 201, 215);
    padding-left: 20px;
    font-size: 16px;
    background-color: aliceblue;
}
#news-head h2{
    font-size: 14px;
    display: inline;
    color: rgb(85, 90, 94);
}
#news img {
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-top: 30px;
    /* border-bottom: ; */
}
#news span {
    display: block;
    margin-top: 20px;
    font-size: 13ox;
    border-top: 2px solid rgb(176, 201, 215);
    padding-left: 3px;
}