/* 总的框架 */
.user-content {
    width: 1000px;
    height: 500px;
    /* border: 1px solid green; */
    margin-left: 40px;
    display: flex;
}
/* 左边的修改栏 */
.user-list-box {
    width: 260px;
    height: 300px;
    background-color: #f3f3f4;
    margin-left: 40px;
    margin-top: 15px;
}
.user-list {
    width: 254px;
    height: 294px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #ffffff;
}
.user-btn {
    width: 254px;
    height: 30px;
    display: flex;
    /* background-color: #31c27c; */
    justify-content: flex-end;
    /* background-color: aqua; */
}

#userBtn {
    background-color: #31c27c;
    border: 0;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    color: #fff;
    margin-top: 5px;
    margin-right: 4px;
}
/* 左边的单个功能块 */
.user-list-div {
    width: 254px;
    height: 36px;
    border-bottom: 1px solid #f3f3f4;
    display: flex;
}
.list-img1 {
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-left: 9px;
}
.list-img2 {
    width: 18px;
    height: 18px;
    margin-left: 110px;
    margin-top: 8px;
}
.user-list-div span {
    font-size: 13px;
    margin-top: 9px;
    margin-left: 7px;
}
.user-list-div span:hover {
    color: #31c27c;
    
}
/* 右边的详细页面处理 */
/* 右边处理的公共页面 */
.info-head {
    width: 480px;
    height: 30px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: #f3f3f4;
    border: 5px solid #ffffff;
}
.info-person{
    font-size: 14px;
    color: rgb(237, 97, 97);
    padding-top: 4px;
}
.form-group {
    width: 450px;
    height: 50px;
    /* background-color: #31c27c; */
}
.form-label {
    color: #676A6c;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-input {
    background-color: #FFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding-left: 6px;
    height: 20px;
    width: 220px;
}
.infobtn {
    width: 50px;
    height: 30px;
    /* background-color: #31c27c; */
}
.infosubmirbtn {
    background-color: #1ab394;
    border: 0;
    border-radius: 3px;
    width: 70px;
    height: 28px;
    color: #ffffff;
    margin-left: 180px;
    margin-top: 0;
}
/* 右边处理的各个公共修改部分 */
/* 改变盒子的大小 */
/* 用户信息 */
#userinfo-box {
    width: 500px;
    height: 450px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #f3f3f4;;
}
.userinfo {
    width: 494px;
    height: 444px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.userinfo-content {
    width: 490px;
    height: 330px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.updata-form {
    width: 450px;
    height: 260px;
    /* border: 1px solid green; */
} 
.submit-img {
    width: 450px;
    height: 100px;
    /* background-color: #1ab394; */
}
/* 修改密码 */
#passwordinfo-box {
    width: 500px;
    height: 300px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #f3f3f4;;
}
.passwordinfo {
    width: 494px;
    height: 294px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.passwordinfo-content {
    width: 490px;
    height: 230px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.password-form {
    width: 450px;
    height: 215px;
}
/* 发布房源 */
#postHouseinfo-box {
    width: 500px;
    height: 520px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #f3f3f4;;
}
.postHouseinfo {
    width: 494px;
    height: 514px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.postHouseinfo-content {
    width: 490px;
    height: 510px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.postHouse-form {
    width: 450px;
    height: 310px;
    /* border: 1px solid green; */
}
.home-detail {
    height: 65px;
    width: 300px;
}
/* 我的房源 */
#myhouseinfo-box {
    width: 700px;
    height: 550px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #f3f3f4;;
}
.myhouse-head {
    background-color: #ffffff;
}
.myhouseinfo {
    width: 666px;
    height: 494px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.myhouseinfo-content {
    width: 676px;
    height: 430px;
    margin-top: 5px;
    margin-left: 1px;
    flex-wrap: wrap;
}
.myhouseinfo-content-list {
    width: 656px;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    /* background-color: #31c27c; */
    border: 2px solid rgb(68, 97, 100);
    border-radius: 5px;
}
.myhouseinfo-content-list ul {
    width: 656px;
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    /* border: 1px solid red; */

}
.myhouseinfo-content-list ul li{
    list-style: none;
    font-size: 14px;
}
/* 内容 每一行 */
.myhouseinfo-list {
    width: 656px;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-top: 4px;
    /* background-color: #31c27c; */
    border: 1px solid rgb(149, 165, 167);
}
.myhouseinfo-list ul {
    width: 656px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    /* border: 1px solid red; */

}
.myhouseinfo-list ul li{
    list-style: none;
    font-size: 14px;
}
/* 提交合同 */
#submitPaperinfo-box {
    width: 500px;
    height: 360px;
    margin-top: 15px;
    margin-left: 40px;
    background-color: #f3f3f4;;
}
.submitPaperinfo {
    width: 494px;
    height: 354px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.submitPaperinfo-content {
    width: 490px;
    height: 390px;
    /* border: 1px solid green; */
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.submitPaper-form {
    width: 450px;
    height: 190px;
    /* border: 1px solid green; */
}
/* 我的合同 */
#myPaperinfo-box {
    width: 700px;
    height: 550px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #f3f3f4;;
}
.myPaperinfo {
    width: 666px;
    height: 494px;
    background-color: #ffffff;
    margin-top: 3px;
    margin-left: 3px;

}
.myPaperinfo-content {
    width: 666px;
    height: 490px;
    margin-top: 5px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
}
#userbtn-a {
    color: #ffffff;
    text-decoration: none;
}
#userbtn-a:hover {
    color: rgb(14, 61, 148);
}