<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords"
        content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Error 404 - HRMS admin template</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/picture/favicon.png">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/custom-forms.css">
    <link rel="stylesheet" href="static/css/tailwind-dist.css">
</head>

<body class="font-CircularStd bg-errorPage flex items-center">
    <div class="main-wrapper flex flex-wrap justify-center w-full">
        <div class="page-wrapper">
            <div class="mx-auto max-w-[480px] py-10 text-center w-full">
                <h1 class="text-primary text-[10em] mb-2">404</h1>
                <h3 class="text-2xl mb-2"><i class="fa fa-warning"></i>Oops!Page not found!</h3>
                <p class="mb-[30px]">The page you requested was not found.</p><a href="admin-dashboard.html"
                    class="inline-block bg-gradient-to-r from-[#ff9b44] to-[#fc6075] rounded-[50px] text-lg font-semibold min-w-[200px] px-5 py-[10px] text-white text-center">Back
                    to Home</a>
            </div>
        </div>
    </div>
</body>

</html>